<a routerLink="/book-details/{{book().id}}" class="block">
    <div class="w-full"> <!-- changed from w-75 to w-full so tailwind sizing won't force overflow -->
        <mat-card appearance="outlined" class="hover-shadow flex flex-col h-full max-w-80 min-w-60"> <!-- make card a column flex container -->
            <div class="flex items-center m-8 justify-center overflow-hidden rounded-lg">
                <img class="object-cover object-center max-w-full" mat-card-xl-image
                    src="{{ book().image || 'assets/default-book-cover.jpg' }}" alt="{{ book().title }} cover" />
            </div>
            <mat-card-title-group class="p-8 pt-0 pb-0 flex-1 min-w-0"> <!-- add min-w-0 here -->
                <mat-card-title class="title truncate">{{ book().title }}</mat-card-title> <!-- add truncate -->
                <mat-card-subtitle class="subtitle truncate">{{ book().author?.name }}</mat-card-subtitle> <!-- add truncate -->
            </mat-card-title-group>
            <mat-chip-set class="pl-8 pb-8 pt-1">
                @if(book().category) {    
                <mat-chip class="category-chip">{{ book().category?.name }}</mat-chip>
                }
                @for (genre of book().genres || []; track genre.id) {
                <mat-chip class="genre-chip">{{ genre.name }}</mat-chip>
                }
            </mat-chip-set>
        </mat-card>
    </div>
</a>