.genre-chip {
  background-color: var(--color-blue-100) !important;
}

.category-chip {
  background-color: var(--color-indigo-200) !important;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}
