<section class="p-4 bg-primary">
  <div class="flex items-center justify-between pl-20 pr-20">
    <div class="flex items-center max-w-2/5">
      <a [routerLink]="['/']" class="w-3xs h-15">
        <img class="w-full h-full object-cover object-center" src="collage.png" alt="Logo">
      </a>
      <a [routerLink]="['/search']" class="h-15 pt-3" >
        <div class="text-secondary text-xl hover:text-secondary-trans">Search</div>
      </a>
    </div>
    <div>
      <button matButton="tonal">Log In</button>
    </div>
  </div>
</section>
