<section class="flex h-fit p-5 justify-between items-center bg-dark h-2/5 font-sans text-secondary-trans font-medium text-lg">
  <div class="w-full">
    <div class="flex items-center">
      <div class="h-40">
        <a [routerLink]="['/']">
          <img class="w-full h-full object-cover object-center" src="BookBazaar-logo-transparent.png" alt="BookBazaar">
        </a>
      </div>
      <div class="text-wrap">
        <p class="hover:text-secondary">
          Your digital gateway to endless literary adventures. Discover, read, and review thousands of books.
        </p>
        <div class="flex">
          <a class="pl-0 social-link">
            <img src="icons8-instagram-50.png" alt="Inst"/>
          </a>
          <a class="social-link">
            <img src="icons8-x-50.png" alt="X"/>
          </a>
        </div>
      </div>
    </div>

    <div class="flex flex-col"></div>
    <div class="flex flex-col"></div>
    <div class="flex flex-col"></div>
    <hr>
    <p class="text-center p-10 text-sm font-light pb-0">© 2025 BookBazaar. All rights reserved.</p>
  </div>
</section>
