<section class="py-12 text-book-gray bg-primary-trans border-b border-gray">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" id="search">
    <div class="text-center mb-8">
      <h1 class="text-4xl font-bold text-book-dark-gray mb-4 font-serif">Find Your Perfect Book</h1>
      <p class="text-xl text-book-gray">Search through thousands of books and discover your next favorite read</p>
    </div>
    <div class="max-w-3xl mx-auto">
      <form [formGroup]="formGroup" (ngSubmit)="search()" class="flex items-center gap-x-2">
        <mat-form-field appearance="outline" class="flex-1 items-between">
          <div class="flex items-between">
            <input matInput placeholder="Search for a ..." formControlName="search">
            <button matButton="tonal" class="search-button">
              Search
            </button>
          </div>
        </mat-form-field>
      </form>
    </div>
  </div>
</section>
<section class="mx-auto px-4 sm:px-6 lg:px-8 py-8 w-full">
  <div class="flex gap-8">
    <aside class="w-80 sticky top-24 max-h-[calc(100vh-8rem)] overflow-y-auto custom-scrollbar">

      <div class="rounded-lg p-6 bg-white shadow-sm border border-gray-100 min-h-full">
        <app-filter-panel [filters]="filterOptions()" (changed)="onFiltersChanged($event)"
          [selectedFilters]="selectedFilters()">
        </app-filter-panel>
      </div>

    </aside>
    <div class="flex-1">
      @if(books().length === 0) {
      <p class="text-center text-book-gray text-xl mt-20">No books found matching your criteria.</p>
      } @else {
      <div class="flex flex-wrap gap-8">
        <div class="flex-1">
          @if (loading()) {
          <div class="text-center mt-20">Loading books...</div>
          }

          @else if (books().length === 0) {
          <p class="text-center text-book-gray text-xl mt-20">No books found matching your criteria.</p>
          }

          @else {
          <div class="flex flex-wrap gap-8 justify-center">
            @for (book of books(); track book.id) {
            <app-book-card [book]="book"></app-book-card>
            }
          </div>
          }
        </div>
      </div>
      <div class="flex-1">
        @if (!loading() && books().length > 0) {
        <div class="mt-8 bg-white rounded-lg shadow-sm border border-gray-100">
          <mat-paginator [length]="totalBooks()" [pageSize]="pageSize()" [pageIndex]="pageIndex()"
            [pageSizeOptions]="[5, 10, 20, 50]" (page)="onPageChange($event)" showFirstLastButtons
            aria-label="Select page of books">
          </mat-paginator>
        </div>
        }
      </div>
      }
    </div>
  </div>
</section>