.search-button {
  background-color: var(--color-primary-trans) !important;
}

/* Робимо скролбар тонким і сучасним */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Тонкий скрол */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb; /* Світло-сірий (Tailwind gray-200) */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db; /* Трохи темніший при наведенні */
}

/* Для Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}