<div class="flex flex-col gap-6 p-4 rounded-2xl shadow-md text-book-gray">
  <div class="flex justify-between items-center mb-6">
    <h3 class="text-2xl text-book-dark-gray">Filters</h3>
    <button matButton (click)="clearFilters()">Clear all</button>
  </div>
  @for (filter of filters; track filter.name) {
    <div class="flex flex-col">
      <h3 class="text-lg mb-2 text-dark">{{ filter.label }}</h3>

      <div class="flex flex-col gap-1 h-full max-h-70 overflow-y-auto">
        @for (option of visibleOptions(filter); track option) {
          <label class="flex items-center gap-2 cursor-pointer">
            <mat-checkbox
              type="checkbox"
              class="accent-primary"
              [checked]="isSelected(filter.name, option)"
              (change)="toggleOption(filter.name, option)"
            />
            <span>{{ option }}</span>
          </label>
        }
      </div>

      @if (filter.options.length > filter.defaultVisibleCount) {
      }

      <button
        *ngIf="filter.options.length > filter.defaultVisibleCount"
        class="text-sm text-primary hover:underline mt-2 self-start"
        (click)="toggleExpanded(filter.name)"
      >
        {{ filter.expanded ? 'Показати менше' : 'Показати більше' }}
      </button>
    </div>
  }
</div>
